body {
  background: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.smartphone {
  width: 300px;
  height: 550px;
}

#island {
  width: 80px;
  height: 23px;
  color: #1cd75e;
  padding-left: 10px;
}

#btn-footer {
  width: 150px;
}

#google {
  color: red;
}

#google-box {
  background-color: white;
  padding-inline: 10px;
}

#spotify {
  color: #1cd75e;
}
#spotify-box {
  background-color: black;
  padding-inline: 10px;
}

#whatsapp {
  color: white;
}
#whatsapp-box {
  background-color: #1cd75e;
  padding-inline: 10px;
}
#mail {
  color: white;
}

#mail-box {
  background-color: #0f6cbd;
  padding-inline: 10px;
}

.fs-7 {
  font-size: 2.3rem;
}

.fs-8 {
  font-size: 70px;
}

#smart-1 {
  background: hsla(332, 53%, 82%, 1);

  background: linear-gradient(
    180deg,
    hsla(332, 53%, 82%, 1) 0%,
    hsla(176, 57%, 89%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(332, 53%, 82%, 1) 0%,
    hsla(176, 57%, 89%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(332, 53%, 82%, 1) 0%,
    hsla(176, 57%, 89%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#e9b7ce", endColorstr="#d3f3f1", GradientType=1 );
}

#iphone-scroll {
  width: 180px;
  height: 7px;
  background-color: #c1bebe;
  margin-inline: auto;
}
